.DS_Store
out
log.log
*.pyc
**/.vscode/.ropeproject/**
**/testFiles/**/.cache/**
.nyc_output
.vscode-test
__pycache__
**/.vscode-test/**
**/.venv*/
port.txt
python_files/lib/**
python_files/get-pip.py
debug_coverage*/**
.pytest_cache
tmp/**
.python-version
.vs/
.vscode
