{
	"template_id"            : "${template_id}",
	"template_project"       : "${template_project}",
	"template_region"        : "${template_region}",
	"retention_period_field" : "${retention_period_field}",
	"expiration_action_field": "${expiration_action_field}",
	"projects_in_scope"  : ${jsonencode(projects_in_scope)},
	"datasets_in_scope"  : ${jsonencode(datasets_in_scope)},
	"bigquery_region"    : "${bigquery_region}",
	"snapshot_project"   : "${snapshot_project}",
	"snapshot_dataset"   : "${snapshot_dataset}",
	"snapshot_retention_period": ${snapshot_retention_period},
	"archives_bucket"    : "${archives_bucket}",
	"export_format"      : "${export_format}",
	"archives_project"   : "${archives_project}",
	"archives_dataset"   : "${archives_dataset}",
	"remote_connection"  : "${remote_connection}",
	"tag_engine_endpoint": "${tag_engine_endpoint}",
	"mode": "${mode}"
}
